<!-- Toolbar -->
<div id="toolbar"
     ng:class="{false:'primary-color z-depth-1', true:'nav-material'}[$parent.toolbar.material]"
     class="{{$parent.toolbar.class}}"
>
    <div class="open-left" id="open-left" data-activates="slide-out-left">
        <i class="ion-android-menu"></i>
    </div>
    <h1 class="title">{{$parent.toolbar.title}} </h1>

    <div class="open-right" id="open-right" data-activates="slide-out" ng-show="$parent.toolbar.user">
        <i class="ion-android-person"></i>
    </div>
</div>
<!-- End of Toolbar -->
