<ul id="slide-out-left" class="side-nav " collapsible ng-class="{'sidebar-open-left': $parent.sideBarOpen}">
    <li class="sidenav-avatar bg-material">
        <div class="opacity-overlay-gradient"></div>
        <div class="bottom">
            <img src="img/user.jpg" alt="" class="avatar">
            <!-- Dropdown Trigger -->
            <span class="dropdown-button waves-effect waves-light" data-activates="dropdown1">heyfromjhon@email.com<i class="ion-android-arrow-dropdown right"></i></span>
            <!-- Dropdown Structure -->
            <ul id="dropdown1" class="dropdown-content">
                <li><a href="#!">hellojhon@email.com</a></li>
                <li><a href="#!">heyfromjhon@email.com</a></li>
                <li class="divider"></li>
                <li><a href="#!">Settings <i class="ion-ios-gear"></i></a></li>
            </ul>
        </div>
    </li>
    <li><a ui-sref="Wallet" class="waves-effect"><i class="ion-cash"></i> My Wallet</a></li>
    <li>
        <div class="collapsible-header waves-effect">
            <i class="ion-bag"></i>Products<span class="more"><i class="ion-ios-arrow-right"></i></span>
        </div>
        <div class="collapsible-body">
            <ul class="collapsible">
                <li>
                    <a ui-sref="Category({'active':'Marijuana'})">Marijuana</a>
                    <a ui-sref="Category({'active':'Edible'})">Edible</a>
                    <a ui-sref="Category({'active':'Extract'})">Extract</a>
                    <a ui-sref="Category({'active':'Gear'})">Gear</a>
                </li>
            </ul>
        </div>
    </li>
</ul>
<!--<div id="sidenav-overlay" style="opacity: 1;" ng-if="$parent.sideBarOpen" ng-click="click()"></div>-->