<div class="credit-cards">
    <div class="card">
        <div class="card-author">
            <a href="#cc-modal" modal class="media-top-object middle">
                <img src="/img/visa.png" alt="" class="media-left avatar small">
                <div class="media-body">
                    My VISA - **** **** **** 4352
                </div>
            </a>
        </div>
    </div>
    <div class="card">
        <div class="card-author">
            <a href="#cc-modal" modal class="media-top-object middle">
                <img src="/img/master.png" alt="" class="media-left avatar small">
                <div class="media-body">
                    My Mastercard - **** **** **** 1342
                </div>
            </a>
        </div>
    </div>
</div>
