<div class="bg-1 relative home-page">
    <div class="logo-main"></div>
    <div class="opacity-overlay"></div>
    <div class="swiper-container slider-sliced">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="slider-bottom-right valign-wrapper">
                    <div class="valign center-align">
                        <h2><strong>Please Log In or Register</strong></h2>
                        <p> In order to use our application you have to be a registered patient of our clinic. If you don't have a login, you can register and wait for our approval.</p>
                        <a ui-sref="Login" class="waves-effect waves-light btn-large accent-color block m-b-20 animated bouncein delay-2">Patient Sign In</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>