<div class="page fullscreen grey lighten-4">
    <div class="login-form z-depth-1">
        <h1>Login</h1>
        <div class="input-field">
            <i class="ion-android-contact prefix"></i>
            <input class="validate" id="login" type="text">
            <label for="login">Username</label>
        </div>

        <div class="input-field" style="margin-bottom:20px;">
            <i class="ion-android-lock prefix"></i>
            <input class="validate" id="login-psw" type="password">
            <label for="login-psw">Password</label>
        </div>

        <a class="waves-effect waves-light btn-large accent-color block m-b-20 animated bouncein delay-2" ng-click="login()">Login</a>
        <span>Don't have an account? <a class="primary-text" ui-href="Signup">Sign Up</a></span>
    </div>

</div>