<div class="bg-gradient center wallet">

    <div class="image-container">
        <img src="/img/wallet.png" alt="">
    </div>
    <h4 class="white-text">My Wallet Ballance:</h4>
    <h1 class="heading white-text">$380.57</h1>

    <a ui-sref="Recharge" class="waves-effect waves-light btn-large transparent m-20">Recharge</a>

    <div class="row white-text">
        <div class="col s6">
            <i class="ion-ios-clock-outline"></i>
            <p>Account Activities</p>
        </div>
        <div class="col s6" ui-sref="CreditCards">
            <i class="ion-card"></i>
            <p>Manage Credit Cards</p>
        </div>
    </div>
</div>
